@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

.navigation{
    background-color: aquamarine;
    margin: 20px;
    display: flex;
    width: 100%-40px;
    height: fit-content;
    justify-content: center;
}

.navigationItem{
    background-color: skyblue;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    
}
