@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');


body {
    background-color: lightblue;
    font-family: 'Medula One', cursive;
    font-size: 25px;
    background-image: url("./images/papirus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    background-color: burlywood;
    margin: 10px;
}